head
  link(rel='stylesheet', href='/C:\Users\nessy\Downloads\pug-funktioniert\styles\styles.css')


include includes/boilerplate
include includes/navbar
include includes/hauptteil
include includes/footer























//-boilerplate
//-navbar
//-hauptteil.pug
    h1 Teil 1
    p Inhalt 1
    h1 Teil 2
    p Inhalt 2
    h1 Teil 3
    p Inhalt 3
    hr


//- footer