h1 Eat
    p Leckeres Essen genießen
    img(src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fde.freepik.com%2Fvektoren%2Fessen&psig=AOvVaw3OQpXulI1YEcIgVu5LZrlI&ust=1687883372457000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCLDDy9mt4f8CFQAAAAAdAAAAABAD', alt='Essen')

h1 Sleep
    p Tief und erholsam schlafen
    img(src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fde.depositphotos.com%2Fstock-photos%2Fschlafende-katze.html&psig=AOvVaw1jimpuEEao07Bj08szjwsx&ust=1687883423092000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCWyfCt4f8CFQAAAAAdAAAAABAE', alt='Schlafen')

h1 Repeat
    p Kontinuität und Wiederholung
    img(src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fmademyday.com%2F36034&psig=AOvVaw2c9N7H0sv3ez8ugpa2SYoV&ust=1687883470181000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCICl94eu4f8CFQAAAAAdAAAAABAD', alt='Wiederholen')
